* {
    margin: 0;
    padding: 0;
    font-family: 'sogoe ui', arial, sans-serif;
}

body {
    background-color: #fcfcfc;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: impact, Arial, sans-serif;
    font-weight: normal;
}

#wrapper {
    width: 720px;
    margin: 0 auto;
}

#header {
    height: 50px;
    background-color: rgb(197, 197, 208);
    overflow: hidden;
    margin-bottom: 20px;
    padding: 30px 0 30px 20px;
}

#logo {
    font-family: Impact, sans-serif;
    float: left;
    font-size: 40px;
}

#menu {
    float: right;
    list-style: none;
    margin-top: 10px;
}

#menu li {
    display: inline;
}

#menu li a {
    padding: 5px 10px;
    border-right: 1px dashed #ffffff;
    text-decoration: none;
    color: black;
}

#menu li:last-child a {
    border-right: none;
}

#slideshow {
    height: 238px;
    background-color: gray;
    position: relative;
}

#slideshow h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: normal;
}

#slideshow h1 a {
    color: black;
    text-decoration: none;
    font-family: impact, sans-serif;
    font-weight: normal;
}

#headline {
    overflow: hidden;
    background: silver;
    margin: 20px;
}

#headline h2 {
    padding: 10px;
}

#headline .kolom {
    width: 190px;
    background-color: white;
    margin: 10px;
    padding: 10px 20px 0 10px;
    float: left;
}

#footer {
    border-top: 1px dashed #aeb59c;
    padding: 10px;
    height: 20px;
}

#footer p {
    float: left
}

#footer-menu {
    float: left;
    margin-left: 30px;
    list-style: none;
}

#footer-menu li {
    display: inline;
    margin-right: 20px;
}

#footer-menu li a {
    color: #777;
    text-decoration: none;
}